@tailwind base;
@tailwind components;
@tailwind utilities;

.font-inconsolata {
font-family: Inconsolata, monospace;
}

html {
    scroll-behavior: smooth;
}

.display-linebreak {
    white-space: pre-line;
}